@import 'tailwindcss';
@import './components/hero.css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@theme {
    --font-serif: 'Playfair Display', serif;
    --font-sans: 'DM Sans', sans-serif;
    --font-grotesk: 'Space Grotesk', sans-serif;
    --color-primary: hsl(76.76, 100%, 60%);
    --color-dark-primary: hsl(76.76, 80%, 45%);
    --color-gray-900: hsl(0, 0%, 8.24%);
    --color-gray-50: hsl(285, 18.18%, 95.69%);
    --pixel-size: 0.45rem;
    --bg-gradient-up-dark: radial-gradient(
        131.66% 109.77% at 50% 97.75%,
        transparent 37.41%,
        rgb(21, 67, 4) 69.27%,
        #c6ff33 100%
    );
    --bg-gradient-up: radial-gradient(
        131.66% 109.77% at 50% 97.75%,
        transparent 37.41%,
        rgb(214, 255, 200) 69.27%,
        #a3ff33 100%
    );
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-serif), serif;
    }
}

.container {
    @apply mx-auto max-w-6xl px-6 lg:px-8;
}

.grain-overlay {
    background-image: url('/img/grain.gif');
    background-size: 300px;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0.05;
}
